body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.top-banner {
    background-image: url("./images/donation7.jpg");
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    height: 650px;
    width: 100%;

}

.banner-title {
    font-size: 45px;
    text-align: center;
    color: whitesmoke;
    padding-top: 180px;

}

.top-banner p {
    text-align: center;
    color: whitesmoke;
    padding-bottom: 10px;
}

.donate-btn {
    text-align: center;
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 8px;
    border-radius: 5px;
}

h4 {
    text-align: center;
}

.sub-titel {
    text-align: center;
    color: rgb(113, 109, 109);
}

/* //////////////////////////// */
.donate-part {
    margin: 0% 20% auto;

}

.donate-amount {
    display: flex;
}

.Donate-Today-headline {
    text-align: center;
    font-size: 40px;
}

.amount1 {
    width: 20%;
    margin: 20px;
    text-align: center;
    font-size: 1.1rem;
    color: rgb(120, 120, 120);
}

.amount2 {
    width: 20%;
    background-color: rgba(0, 0, 255, 0.248);
    margin: 20px;
    text-align: center;
    border: 4px solid blue;
    border-radius: 6px;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    font-size: 1.1rem;
    color: blue;
}

.amount3 {
    width: 20%;
    margin: 20px;
    text-align: center;
    font-size: 1.1rem;
    color: rgb(120, 120, 120);

}

.amount4 {
    width: 20%;
    margin: 20px;
    text-align: center;
    font-size: 1.1rem;
    color: rgb(120, 120, 120);

}

.amount5 {
    width: 20%;
    margin: 20px;
    text-align: center;
    font-size: 1.1rem;
    color: rgb(120, 120, 120);

}

.amount-input {
    display: block;
    margin: 0 auto;
    border: 2px solid red;
}

input[type='text']:focus {
    outline: none;
    padding: 0 0 0.875em 0;
}

input[type='text'] {
    background: none;
    border: none;
    border-bottom: solid 2px #474544;
    color: #474544;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    width: 80%;

}


/* /////////////////////////////// */
.donate-plan-titel {
    text-align: center;
    margin-top: 100px;
}

.Donate-Plan {
    display: flex;
    margin: 0% 20% auto;

}

.plan-1 {
    width: 33%;
    padding: 10px;
    margin: 25px;

    background-color: rgba(170, 170, 218, 0.21);
    border-radius: 15px;
}

.plan-1 img {
    width: 25%;
    margin-top: 45px;
}

.plan-2 {
    width: 33%;
    padding: 10px;
    margin: 25px;

    background-color: #ff634724;
    border-radius: 15px;
}

.plan-2 img {
    width: 25%;
    margin-top: 45px;
}

.plan-3 {
    width: 33%;
    padding: 10px;
    margin: 25px;

    background-color: #66339936;
    border-radius: 15px;
}

.plan-3 img {
    width: 25%;
    margin-top: 45px;
}


/* ///////////////////// */
.bar-three {
    display: flex;
    margin: 100px 20% auto;

}

.bar-fore {
    display: flex;
    margin: 100px 20% auto;

}

.bar-img {
    width: 80%;

}

.bar-p {
    width: 60%;


}

.bar-img img {
    width: 80%;
    border-radius: 10px;


}

.bar-p p {
    width: 90%;
}

.bar-p a {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 8px;
    font-weight: 700;
    border-radius: 5px;


}

/* //////////// */

.game-titel {
    text-align: center;
    margin-top: 140px;
    margin-bottom: 70px;
}

.last-bar {
    display: flex;
    margin: 0% 20% auto;
}

.last-img {
    width: 45%;
    height: 370px;


}

.last-img img {
    width: 70%;
    height: 100%;
    border-radius: 10px;
}

.last-p {
    width: 50%;
    margin-left: 10%;

}



.last-p a {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 8px;
    font-weight: 700;
    border-radius: 5px;
}


/* /////////////// */
.email-work {
    text-align: center;
}

.email-back {
    background-color: rgba(0, 0, 255, 0.277);
    width: 25%;
    margin: auto;
    padding: 60px;
    border-radius: 10px;
}

.email-work input {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;

}

.email-work a {
    text-decoration: none;
    background-color: blue;
    padding: 8px 16px;
    border-radius: 5px;
    color: white;


}


/* ////////////////// */

.over {
    background-color: black;
    text-align: center;
    padding: 5px;
    margin-top: 60px;
}

.finishing-tush {
    color: white;
}

.mission-over {
    color: blue;
}

.over p {
    color: white;
}